---
import { Image } from "astro:assets";
import linkedinLogo from "../images/linkedin-icon.png";
import githubLogoDark from "../images/github-icon-dark.png";
import astroLogoDark from "../images/astro-icon-dark.png";
import picoLogoDark from "../images/pico-icon-dark.png";
import githubLogoLight from "../images/github-icon-light.png";
import astroLogoLight from "../images/astro-icon-light.png";
import picoLogoLight from "../images/pico-icon-light.png";
---

<footer class="container">
  <div class="social">
    <p>Contact me:</p>
    <a href="https://github.com/lfazocar" target="_blank">
      <Image src={githubLogoDark} alt="Github" class="dark-mode" />
      <Image src={githubLogoLight} alt="Github" class="light-mode" />
    </a>
    <a href="https://www.linkedin.com/in/lfazocar" target="_blank">
      <Image src={linkedinLogo} alt="LinkedIn" />
    </a>
  </div>
  <div class="made-with">
    <p>Made with</p>
    <div>
      <a href="https://astro.build/" target="_blank">
        <Image src={astroLogoDark} alt="Astro" class="dark-mode" />
        <Image src={astroLogoLight} alt="Astro" class="light-mode" />
      </a>
      <a href="https://picocss.com/" target="_blank">
        <Image src={picoLogoDark} alt="PicoCSS" class="dark-mode" />
        <Image src={picoLogoLight} alt="PicoCSS" class="light-mode" />
      </a>
    </div>
  </div>
</footer>
<script>
  const lightModeIcons = document.querySelectorAll(".light-mode");
  const darkModeIcons = document.querySelectorAll(".dark-mode");

  function toggleImageTheme(theme) {
    const isDarkMode = theme === "dark"
    lightModeIcons.forEach((img) => {
			img.classList.toggle("hidden", isDarkMode);
		});
		darkModeIcons.forEach((img) => {
			img.classList.toggle("hidden", !isDarkMode);
		});
  }

  const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if (
        mutation.type === "attributes" &&
        mutation.attributeName === "data-theme"
      ) {
        const newTheme = document.documentElement.getAttribute("data-theme");
        toggleImageTheme(newTheme);
      }
    });
  });
  observer.observe(document.documentElement, {
    attributes: true,
    attributeFilter: ["data-theme"],
  });
</script>
<style>
  footer {
    display: flex;
  }
  footer p {
    margin: 0;
  }
  .social {
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .social img {
    width: 3em;
    margin: 0 10px;
  }
  .made-with {
    align-self: end;
  }
  .made-with > div {
    display: flex;
    justify-content: space-evenly;
  }
  .made-with img {
    width: 1em;
  }
  .made-with p {
    text-align: center;
    font-size: x-small;
    width: auto;
  }
  .hidden {
    display: none;
  }
</style>
