---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

const { project, details } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/images/projects/*.{jpeg,jpg,png,gif,svg}",
);
---

<article>
  <header>
    <h2>{project.name}</h2>
    {
      project.github && (
        <p>
          <a href={project.github} target="_blank">
            Github Repository
          </a>
        </p>
      )
    }
    {
      project.tags && (
        <p>
          <small>Tags: {project.tags.join(", ")}</small>
        </p>
      )
    }
    <!-- { project.tags &&
      <p><small>Tags: { project.tags.map((tag, idx) =>
        <span>{
          idx != project.tags.length - 1 ?
            <span><a href={'tag/' + tag}>{tag}</a>, </span>
            :
            <a href={'tag/' + tag}>{tag}</a>
        }</span>
      )}</small></p>
    } -->
  </header>
  <p>{project.description}</p>
  <a href={details} role="button" class="button">Click for more details</a>
  {
    project.image && project.address ? (
      <a href={project.address} target="_blank">
        <Image src={images[project.image.url]()} alt={project.image.alt} />
      </a>
    ) : (
      project.image && (
        <Image src={images[project.image.url]()} alt={project.image.alt} />
      )
    )
  }
  {
    project.address && (
      <footer>
        URL:{" "}
        <a href={project.address} target="_blank">
          {project.address}
        </a>
      </footer>
    )
  }
</article>
<style>
  article {
    margin: auto;
    width: 100%;
  }
  header > * {
    margin-bottom: 0px;
  }
  img {
    border-radius: 10px;
    display: block;
    margin: auto;
  }
  .button {
    display: block;
    width: fit-content;
    margin: 0 auto 1em;
    padding: 0.5em;
  }
</style>
